body {
  font-family: "Indie Flower", cursive;
  font-size: 28px;
  margin: 0;
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 18px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
}
/* @media only screen and (min-width: 320px) {
  .images img {
    width: 200px;
  }
} */
iphone 6,
6s,
7,
8
  @media
  only
  screen
  and
  (min-device-width: 375px)
  and
  (max-device-height: 667px)
  and
  (-webkit-device-pixel-ratio: 2) {
}

a {
  text-decoration: none;
}

header {
  padding-top: 3%;
  min-height: 70px;
}

footer {
  width: 100%;
  text-align: center;
  bottom: 0;
}

.brand {
  float: left;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  color: #2663e7;
}

.brand p {
  font-size: 1.5rem;
}

nav {
  float: right;
}

.navbar {
  margin-top: 3%;
}

.navbar li {
  display: inline-block;
  list-style: none;
  padding: 0 5px;
}

.navbar li a {
  color: rgba(3, 3, 3, 0.8);
}

.navbar li a:hover {
  color: #195df0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container-quelle {
  padding: 10%;
  margin: 0 auto;
}

/*-- Home Page Rulesets --*/

#introduction {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 50%;
}

#introduction h1 {
  font-size: 3.2rem;
}

#introduction p {
  margin: 10% auto;
  font-size: 2rem;
  font-weight: lighter;
}

#introduction a {
  display: block;
  width: 20%;
  padding: 3% 8%;
  margin: 0 auto;
  color: #ffffff;
  font-size: 2rem;
  background-color: #2b64e9;
  border-radius: 4px;
}

#introduction a:hover {
  background-color: #0d3d94;
}

/*-- Animals Page Rulesets --*/

#showcase {
  margin-top: 5%;
  margin-bottom: 15%;
}

.animals {
  width: 90%;
  overflow: auto;
  background-color: white 0.9;
  padding: 2% 5%;
  margin: 5% auto;
}

.image {
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  min-width: 200px;
  min-height: 160px;
  margin: 0 auto;
  border-radius: 5px;
}

.details {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  /* margin: -1% auto; */
  padding: 2%;
}

.name,
.description,
.life {
  color: #000000;
  text-align: left;
}

.description,
.life {
  margin-top: 0;
  margin-bottom: 16px;
}

.description {
  height: 100%;
  font-size: 1.7rem;
  overflow: auto;
}

.life {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

/*-- Source Page Ruleset --*/

span {
  font-weight: 600;
  font-size: 1.7rem;
}

li {
  font-size: 1.7rem;
}

.email li {
  list-style: none;
  text-align: center;
}

.email a {
  color: #dd7a09;
}
